*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
h1 {
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
}   
nav {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
    justify-content: center;
}

li{
    list-style-type: square;
    margin: 5px 0;
    padding: 5px 10px;
}
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
 }