*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
h1 {
    color: blue;
    font-size: 2em;
}   
nav {
    background-color: #f0f0f0;
    padding: 10px;
}

li{
    list-style-type: square;
    margin: 5px 0;
}
