*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
}   
nav {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
    justify-content: center;
<<<<<<< HEAD
}
main {
    padding: 20px;
    background-color: #fafafa;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 15px; 
=======
>>>>>>> 46056ec (added css)
}
<<<<<<< HEAD
=======
main {
    padding: 20px;
    background-color: #fafafa;
}
>>>>>>> 000694e (added css for main)
li{
    list-style-type: square;
    margin: 5px 0;
    padding: 5px 10px;
}
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
 }

=======
 }
>>>>>>> 46056ec (added css)
=======
 }
>>>>>>> 000694e (added css for main)
